    body {
        background-color: #f0f2f5;
    }
    
    .contact-content {
        margin-top: 80px !important;
        height: 100%;
        width: 70vw;
        margin: auto;
    }
    
    .heading {
        text-align: center;
    }
    
    .contact-us {
        display: flex;
        justify-content: space-between;
    }
    
    .con-us {
        display: flex;
    }
    
    .con-us span {
        padding: 30px 15px;
    }
    
    .contact-form {
        height: 100vh;
    }
    
    .contact-form input,
    textarea {
        width: 20vw;
        padding: 10px 25px;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        outline: none;
        border: none;
        background-color: #f0f2f5;
        border-radius: 10px;
    }
    
    .contact-form button {
        width: 20vw;
        padding: 10px 25px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        outline: none;
        color: #fff;
        font-weight: 600;
        border: none;
        background-color: #0066ff;
        border-radius: 10px;
    }
    
    .contact-form form {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 10px;
        padding: 30px 0;
    }
    
    .contact-form div {
        position: relative;
        padding: 10px 20px;
        text-align: center;
    }
    
    .contact-form button {
        margin: 0 60px;
    }
    
    .address h1 {
        text-align: center;
        color: #003b5f;
    }
    
    .contact-form h1 {
        text-align: center;
        color: #003b5f;
    }
    
    @media screen and (max-width: 700px) {
        .contact-content {
            width: 90vw;
            margin-top: 0 !important;
        }
        .contact-content .heading {
            font-size: 25px;
        }
        .contact-us {
            display: grid;
        }
        .contact-form {
            height: 70vh;
            overflow: hidden;
        }
        .contact-form form {
            width: 90vw;
        }
        .contact-form input,
        textarea {
            width: 70vw;
            padding: 10px 15px;
        }
        .contact-us button {
            width: 70vw;
            display: flex;
            margin: auto;
            justify-content: center;
            padding: 10px 15px;
        }
        .contact-form h1 {
            font-size: 22px;
        }
    }